* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
}

body, form {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
}

h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}

h1 {
	font-size: 25px;
	font-weight: bold;
}

h2 {
	font-size: 20px;
	font-weight: bold;
}

h3 {
	font-size: 16px;
}

p {
	font-size: 14px;
}

.bar {
	border-bottom: 4px solid #ccc;
	width:80%;
	height:15%;
	margin: 5% 10% 0 10%;

}

header{
	background: #fff;
	width: auto;
	float: left;
}
.top {
	background: #4aaaa5;
	color: #fff;
	margin: 10px 20px;
	padding: 20px;
}

a:link {
	color: hsl(93,95%,33%);
}

a:visited {
	color: hsl(58,80%,42%);
}
.about, .port, .contact {
	position: relative;
	top: 3px;
	float: right;
	color: #ccc;
	margin: 40px 5px 20px 5px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.about {
	padding-right: 4px;
}

.port {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding-left: 8px;
	padding-right: 8px;
}
.contact {
	padding-right: 200px;
}
.clearfix {
	clear: both;
}

.field{
	background-image: url("../images/vintage-concrete.png");
	height: 120%;
	position: relative;
	padding-left: 10%;
}
main, aside{
	position:relative;
	top: 40px;
	border: 2px solid #ddd;
}
main {
	position:relative;
	left: 100px;
	width: 960px;
	height: 90%;
}
.content {
	padding: 20px 10%;
	background: #fff;
	float: left;
	width: 650px
}
aside {
	background: #fff;
	text-align: center;
	width: 270px;
	float: left;
	position: relative;
	top: -85.5%;
	left: 60%;
	margin: 0 10px;
	padding:0 10px;
	overflow: visible;
}

.title {
	background: #fff;
	border-bottom: 4px solid #ccc;
	padding: 5px 0;
}

.sidebar {
	margin: 15px 5px;
	padding: 10px, 10%;
}

.connect {
	margin-bottom: 5px;
	padding: 20px 30px;
}

.social {
	border-top: 2px solid #ccc;
	padding:5% 10%;
	margin:0 15%;
}

.portfolio {
	float:left;
	width: 200px;
	height: 200px;
	background: lightgrey;
	z-index: 1;
	margin:10px 10px;
}
	
img {
	width:200px;
	height:200px;
}
.desc {
	float: bottom;
	position:relative;
	bottom: 65px;
	height: 40px;
	text-align: center;
	background: #4aaaa5;
	color: #fff;
	padding-top: 14px;

}

.push {
	height: 10px;
}
footer {
	margin-top: 20px;
	position: fixed;
	bottom: 0;
	height: 50px;
	width: 100%;
	text-align: center;
	background: #666;
	color: #fff;
	padding:15px 0;
	
}

#biopic {
	float: left;
	width: 200px;
	height: 200px;
	margin-right: 10px;
}

input{
	width: 100%;
	height: 30px;
	color: #777;
	padding:0 5px;
}

input[type=submit] {
	background: #4aaaa5;
	color: #fff;
	border: none;
	width: 25%;
}

#message {
	height: 100px;
	overflow: scroll;
	padding: 3px 5px;
}

